# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# log
# --------------------------------------
*.log

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*

# --------------------------------------
# maven
# --------------------------------------
target/
